body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background-color: rgba(255, 229, 153, 1); 
    height: 100%; /* Garantir que o body ocupe toda a altura da página */
    display: block; /* Usado para centralizar conteúdo verticalmente */
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; 
    width: 100%; /* Garantir que o corpo ocupe toda a largura */
    background-image: url('https://st2.depositphotos.com/3224447/12093/v/450/depositphotos_120935858-stock-illustration-seamless-pattern-with-doodle-children.jpg'); /* Substitua pela URL de sua imagem */
    background-repeat: repeat; /* Faz com que a imagem de fundo seja repetida */
    background-blend-mode: soft-light;
}

.cabecalho {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgba(255, 105, 180, 1);
    padding: 15px 0; 
    width: 100%;
    flex: 1;
    width: 100%; /* Garantir que o cabeçalho ocupe toda a largura da tela */
}
.cabecalho .logo img {
    height: 40px;
    padding-left: 20px;
    flex: 1; /* Faz o logo ocupar o máximo de espaço possível */
    display: flex;
    justify-content: flex-start; /* Alinha o logo à esquerda */
}

.cabecalho ul {
    padding: 0; 
    margin: 0; 
    flex: 2; /* Dá mais espaço para o menu */
    display: flex;
    justify-content: center;
}

.cabecalho li {
    list-style-type: none; 
    margin: 0 20px; 
}

.cabecalho a {
    text-decoration: none; 
    color: rgb(47, 47, 47)    ; 
    font-size: 18px; 
    transition: color 0.3s; 
}

.cabecalho a:hover {
    color: #000000; 
}

/* Botão de alternância de tema */
.theme-toggle {
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 50%; /* Botão circular */
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column; /* Itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    width: 100%; /* Largura total */
    padding: 20px; /* Espaçamento interno */
    max-width: 1200px; /* Para evitar que o conteúdo fique muito largo em telas grandes */
    margin: 0 auto; /* Centraliza o container */

}
.sobre{
    width: 100%; 
    margin: 10px 0; 
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color:rgba(152, 255, 152, 1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out; /* Transição suave para hover */
}
.sobre:hover{
    transform: translateY(-10px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */   
}
.sobre-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sobre-left, .sobre-right {
    flex: 1;
}
.sobre-left p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify; /* Alinha o texto de forma justificada */
}
.sobre-right p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify; /* Alinha o texto de forma justificada */
}

.sobre-right img {
    width: 100%;
    border-radius: 10px;
}
.sobre-right {
    display: flex;              
    flex-direction: column;     
    align-items: center;         
    padding: 20px;               /* Adiciona um espaçamento interno */
    text-align: center;          
}

.sobre-right p {
    margin-bottom: 20px;         /* Adiciona um espaçamento abaixo do texto */
    font-size: 18px;             /* Ajusta o tamanho do texto */
}

.imgFerramentas {
    display: flex;               /* Flexbox para alinhar as imagens lado a lado */
    justify-content: center;     /* Centraliza as imagens */
    gap: 20px;                   /* Define o espaço entre as imagens */
}

.img-projeto {
    width: 120px;                 /* Define uma largura fixa para as imagens */
    height: auto;                /* Mantém a proporção das imagens */
    max-height: 140px;           /* Limita a altura das imagens */
    object-fit: contain;         /* Garante que a imagem se ajuste corretamente */
    transition: transform 0.3s ease;  /* Adiciona transição para efeito de hover */
}

.img-projeto:hover {
    transform: scale(1.1);       /* Efeito de zoom quando passar o mouse */
}



.sobre-left {
    padding-right: 20px;
}

.sobre-left p {
    font-size: 18px;
    line-height: 1.6;
}

.apresentacao{
    width: 100%; 
    margin: 10px 0; 
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 165, 0, 1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out; /* Transição suave para hover */
}
.apresentacao:hover{
    transform: translateY(-10px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */   
}
.quemSomos {
    width: 100%; 
    margin: 40px 0; 
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 153, 1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out; /* Transição suave para hover */
}

.quemSomos:hover {
    transform: translateY(-10px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}
.nome{
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    color: #333; /* Cor do nome */
    font-size: 24px; /* Aumenta o tamanho do nome */
    margin: 15px 0;
}
.wecton{
    display: inline-block;
    padding-left: 20%;
}
.pedro{
    display: inline-block;
}


.imgWecton{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid #000000; /* Adicionar borda branca */
    object-fit: cover; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor da imagem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito de transição suave */

}

.imgPedro{
    height: 300px;
    width: 300px;
    transition: transform 0.3s ease;
    border-radius: 50%;
    border: 3px solid #000000; /* Adicionar borda branca */
    object-fit: cover; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor da imagem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito de transição suave */
}
.infos{
    font-family: 'Times New Roman', Times, serif;
}

footer{
    background-color: rgba(255, 105, 180, 1);
    color: rgba(40, 40, 40, 1); 
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}
/*POP UP*/
.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgba(255, 105, 180, 1);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}
.popup-info {
    text-align: justify; /* Alinha o texto de forma justificada */
    line-height: 1.6; /* Ajusta a altura da linha para maior legibilidade */
}

.pause-music {
    background-color:rgba(152, 255, 152, 1);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.pause-music:hover{
    background-color:rgb(68, 255, 68);
}
.curriculo-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.curriculo-btn:hover {
    background-color: #2980b9;
}
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Pop-up de compra */
.popup-compra {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro com transparência */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Quando o pop-up está visível */
.popup-compra.show {
    display: flex; /* Exibe o pop-up */
    opacity: 1;
}

/* Conteúdo do pop-up */
.popup-compra .popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: scale(0.8);
    animation: showPopup 0.3s forwards; /* Animação de entrada */
}

/* Animação do pop-up */
@keyframes showPopup {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Círculo verde com o ícone de confirmação */
.popup-compra .check-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    animation: iconAnimation 0.8s ease-in-out;
}

/* Efeito de zoom e animação do ícone */
@keyframes iconAnimation {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Ícone de "check" */
.popup-compra .check-icon {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 48px;
    height: 48px;
}

/* Título e descrição do pop-up */
.popup-compra h2 {
    font-size: 24px;
    margin-top: 15px;
    color: #333;
}

.popup-compra p {
    font-size: 16px;
    color: #333;
}

/* Botão de fechar */
.popup-compra .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.popup-compra .close-btn:hover {
    color: red;
}

/* Efeito de fechamento do pop-up */
.popup-compra.hide {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


/*FIM POP UP*/
.sobre, .apresentacao, .quemSomos {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.sobre.visible, .apresentacao.visible, .quemSomos.visible {
    opacity: 1;
    transform: translateY(0);
}

.imgPedro:hover, .imgWecton:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */

}

header ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s, transform 0.3s;
}

header ul li a:hover {
    color: #3498db;
    transform: scale(1.1);
}

/* responsivo */

@media (max-width: 768px) {
    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding: 10px;
    }

    .popup-content {
        width: 80%;
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

h2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #3498db;
    width: 0;
    animation: typing 2s steps(30) 1s forwards;
}
/*parte do jogo*/

.steam-page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.game-info {
    flex: 1;
    max-width: 500px;
    background-color: #1b2838;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out; /* Transição suave para hover */
}
.game-info:hover{
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */ 
}

.game-header h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-description p, .game-reviews p {
    font-size: 16px;
    margin-bottom: 15px;
}

.buy-button button {
    background-color: #10881e;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.buy-button button:hover {
    background-color: #085e12;
}

.game-media {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screenshots img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.trailer iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px;
}

/* Estilo do carrossel */
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    display: none; /* As imagens começam ocultas */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    display: block; /* Exibe a imagem ativa */
    opacity: 1; /* Transição suave da opacidade */
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-nav button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.carousel-nav button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* fim jogo*/

/* interativo p mulecada */

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.img-projeto:hover, .imgWecton:hover, .imgPedro:hover {
    transform: scale(1.1) rotate(5deg); /* Rotaciona e aumenta a imagem */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Sombra maior ao passar o mouse */
}

.sobre:hover {
    transform: translateY(-10px); /* Levanta o elemento ao passar o mouse */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
    background-color:rgb(103, 255, 103);
}
.apresentacao:hover {
    transform: translateY(-10px); /* Levanta o elemento ao passar o mouse */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
    background-color: rgb(255, 145, 0);
}
.quemSomos:hover{
    transform: translateY(-10px); /* Levanta o elemento ao passar o mouse */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
    background-color: rgb(255, 255, 100);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container, .sobre, .quemSomos, .apresentacao {
    animation: fadeIn 1.5s ease-in-out forwards;
}

.imgWecton:hover, .imgPedro:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    border: 4px solid #ff1493; /* Borda colorida ao passar o mouse */
}



/* Tema Escuro */
body.dark-theme {
    background-color: rgba(45, 45, 45, 1); /* Cor de fundo escuro */
    color: #f5f5f5; /* Cor do texto escuro */
    background-image: none; /* Remove a imagem de fundo no tema escuro */
}

body.dark-theme header {
    background-color: #1c1c1c; /* Cor do fundo do cabeçalho escuro */
}

body.dark-theme .cabecalho a {
    color: #bbb; /* Cor dos links no tema escuro */
}

body.dark-theme .cabecalho a:hover {
    color: #fff; /* Cor dos links ao passar o mouse no tema escuro */
}

body.dark-theme .sobre,
body.dark-theme .apresentacao,
body.dark-theme .quemSomos {
    background-color: #333; /* Fundo escuro para as seções */
    color: #f5f5f5; /* Texto claro para as seções */
}

.theme-toggle {
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 50%; /* Botão circular */
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Quando no tema escuro, o ícone de alternância muda de cor */
body.dark-theme .theme-toggle {
    color: #fff; /* Cor do botão no tema escuro */
}

/* Adicionar animação ao botão */
.theme-toggle:focus {
    outline: none;
}

/* Quando no tema escuro, o ícone de alternância muda de cor */
body.dark-theme .theme-toggle {
    color: #fff; /* Cor do botão no tema escuro */
}

/* Adicionar animação ao botão */
.theme-toggle:focus {
    outline: none;
}

.theme-toggle:hover {
    background-color: rgba(0, 0, 0, 0); /* Efeito de hover */
}

body.dark-theme .theme-toggle:hover {
    background-color: rgba(0, 0, 0, 0); /* Efeito de hover no tema escuro */
}
.theme-toggle{
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.def-aud{
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 50%; /* Botão circular */
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.theme-toggle:hover {
    transform: rotate(180deg); /* Efeito divertido de rotação */
}


/* Efeitos para botões e outras seções */
button, .curriculo-btn {
    background-color: rgba(255, 165, 0, 1);
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body.dark-theme .curriculo-btn {
    background-color: rgb(164, 164, 164); /* Cor de fundo para botões no tema escuro */
}


.curriculo-btn:hover {
    background-color: rgb(255, 132, 0);
}
/* Estilo do pop-up no tema escuro */
body.dark-theme .popup-content {
    background-color: #333; /* Fundo escuro para o conteúdo do pop-up */
    color: #f5f5f5; /* Cor do texto claro para contraste */
}

/* Estilo do título no pop-up */
body.dark-theme .popup-content h2 {
    color: #3498db; /* Cor azul para o título do pop-up */
}

/* Estilo do texto no pop-up */
body.dark-theme .popup-content p {
    color: #f5f5f5; /* Texto claro para uma boa legibilidade */
}

/* Estilo do botão de fechar no pop-up */
body.dark-theme .close-btn {
    color: #fff; /* Cor branca para o botão de fechar */
}
body.dark-theme .close-btn:hover {
    color: #ff0000; /* Cor branca para o botão de fechar */
}
/* Estilo do botão de pausar música no pop-up */
body.dark-theme .pause-music {
    background-color: #2980b9; /* Cor de fundo azul para o botão */
    color: #fff; /* Cor do texto do botão */
}

body.dark-theme .pause-music:hover {
    background-color: #3498db; /* Cor de fundo azul mais escuro ao passar o mouse */
}

/* Estilo do link para o currículo no pop-up */
body.dark-theme .curriculo-btn {
    background-color: #3498db; /* Cor de fundo azul para o link */
    color: white; /* Cor do texto do link */
}

body.dark-theme .curriculo-btn:hover {
    background-color: #2980b9; /* Cor de fundo azul mais escuro ao passar o mouse */
}
/* Footer no tema escuro */
body.dark-theme footer {
    background-color: rgba(30, 30, 30, 1); /* Cor de fundo escura para o footer */
    color: #f5f5f5; /* Cor do texto clara para o footer */
}

body.dark-theme footer a {
    color: #f5f5f5; /* Links com cor clara no footer */
    transition: color 0.3s ease; /* Suaviza a transição para o hover */
}

body.dark-theme footer a:hover {
    color: #3498db; /* Cor de hover para os links no footer */
}
body.dark-theme {
    font-family: 'Roboto', sans-serif; /* Fonte mais séria no tema escuro */
}
/* Quando o tema escuro está ativado */
body.dark-theme .cabecalho {
    background-color: #1c1c1c; /* Cor do fundo do cabeçalho no tema escuro */
}

/* Cor dos links no cabeçalho no tema escuro */
body.dark-theme .cabecalho a {
    color: #fff; /* Cor dos links no tema escuro (branco) */
}

/* Efeito de hover nos links no cabeçalho no tema escuro */
body.dark-theme .cabecalho a:hover {
    color: #3498db; /* Cor dos links ao passar o mouse (azul) */
}

body.dark-theme .imgWecton:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    border: 4px solid #000000; /* Borda colorida ao passar o mouse */
}

body.dark-theme .imgPedro:hover{
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    border: 4px solid #000000; /* Borda colorida ao passar o mouse */
}

/*correçao erro*/
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede o arraste horizontal */
    height: 100%; /* Garante que a altura da tela seja 100% */
}

* {
    box-sizing: border-box; /* Garante que padding e bordas sejam dentro da largura dos elementos */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    overflow-x: hidden; /* Impede o overflow horizontal */
}

img, video {
    max-width: 100%;
    height: auto;
}

