
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d5d9dd; 
}

.cabecalho {
    display: flex;
    justify-content: center; 
    background-color: #1e90ff; 
    padding: 15px 0; 
}

.cabecalho ul {
    padding: 0; 
    margin: 0; 
    display: flex; 
}

.cabecalho li {
    list-style-type: none; 
    margin: 0 20px; 
}

.cabecalho a {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 18px; 
    transition: color 0.3s; 
}

.cabecalho a:hover {
    color: #add8e6; 
}
